<script type="text/javascript" src="{{url_for('static',filename='forms.js')}}"></script>
{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <!-- basic navigation info-->
	<div class="navinfo">
	Enter Data
	/
	<a href="{{ url_for('browse_data')}}">Browse Data</a>
	/
	<a href="{{ url_for('search_data')}}">Search Data</a>
	</div>
	<!-- ********************************
	entering the information
	*************************************-->
		
			 <div class="navinfo">
			 	  <button type="button" onclick="BuildWorkout()">Create New Workout</button>
			 </div>

		<form id="formInsert" ><!--action="{{ url_for('create_workout') }}" method=post-->
		</form>
  {% endif %}
{% endblock %}
